#tests
test
coverage

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml
.github

#linters
.jscsrc
.jshintrc
.eslintrc*
.dockerignore
.eslintignore

#editor settings
.vscode

#src
docs
docker
images
