name: CI

on: [push, pull_request]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16
        registry-url: https://registry.npmjs.org/
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run build
    - name: Test
      run: npm run test-with-coverage
    - name: Lint
      run: npm run eslint
    - name: Docker login
      if: (github.ref == 'refs/heads/dev' || startsWith(github.ref, 'refs/tags/')) && github.event_name == 'push'
      run: echo ${{ secrets.DOCKER_KEY }} | docker login -u koenkk --password-stdin
    - name: Docker login ghcr.io
      if: (github.ref == 'refs/heads/dev' || startsWith(github.ref, 'refs/tags/')) && github.event_name == 'push'
      run: echo ${{ secrets.CR_PAT }} | docker login ghcr.io -u koenkk --password-stdin
    - name: Docker setup - QEMU
      if: (github.ref == 'refs/heads/dev' || startsWith(github.ref, 'refs/tags/')) && github.event_name == 'push'
      uses: docker/setup-qemu-action@v2
      with:
        platforms: all
    - name: Docker setup - Buildx
      if: (github.ref == 'refs/heads/dev' || startsWith(github.ref, 'refs/tags/')) && github.event_name == 'push'
      id: buildx
      uses: docker/setup-buildx-action@v2
      with:
        version: latest
    - name: Docker build dev
      if: github.ref == 'refs/heads/dev' && github.event_name == 'push'
      run: |
        docker buildx build \
          --build-arg COMMIT=$(git rev-parse --short HEAD) \
          --platform linux/arm64/v8,linux/amd64,linux/arm/v6,linux/arm/v7 \
          -f docker/Dockerfile \
          --push \
          -t koenkk/zigbee2mqtt:latest-dev \
          .
    - name: Docker build release
      if: startsWith(github.ref, 'refs/tags/') && github.event_name == 'push'
      run: |
        TAG="$(git describe --tags)"
        docker buildx build \
          --build-arg COMMIT=$(git rev-parse --short HEAD) \
          --platform linux/arm64/v8,linux/amd64,linux/arm/v6,linux/arm/v7 \
          -f docker/Dockerfile \
          --push \
          -t koenkk/zigbee2mqtt:latest -t "koenkk/zigbee2mqtt:$TAG" \
          .
    - name: Publish to npm
      if: startsWith(github.ref, 'refs/tags/') && github.event_name == 'push'
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN }}
    - name: Trigger zigbee2mqtt/hassio-zigbee2mqtt build
      if: github.ref == 'refs/heads/dev' && github.event_name == 'push'
      run: |
        curl -s \
          --request POST \
          --header "Content-Type: application/json" \
          --data '{"definition": {"id": 9}}' \
          -u ${{ secrets.HASSIO_TRIGGER_SECRET }} \
          "https://dev.azure.com/zigbee2mqtt/Zigbee2mqtt%20Add-on/_apis/build/builds?api-version=5.1"

  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [18] # 14, 16, 17, 
        exclude:
          - os: windows-latest # https://github.com/serialport/node-serialport/issues/2344
            node: 17
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3

      - name: Cache node-gyp linux
        if: matrix.os == 'ubuntu-latest'
        uses: actions/cache@v3
        with:
          key: ${{ matrix.os }}-${{ matrix.node }}-node-gyp
          path: /home/runner/node-gyp
      
      - name: Cache node-gyp windows
        if: matrix.os == 'windows-latest'
        uses: actions/cache@v3
        with:
          key: ${{ matrix.os }}-${{ matrix.node }}-node-gyp
          path: C:\Users\runneradmin\AppData\Local\node-gyp
            
      - name: Cache node-gyp mac os
        if: matrix.os == 'macos-latest'
        uses: actions/cache@v3
        with:
          key: ${{ matrix.os }}-${{ matrix.node }}-node-gyp
          path: /Users/runner/.cache/node-gyp

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          registry-url: https://registry.npmjs.org/
          cache: 'npm'
      - run: env
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run eslint
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test-with-coverage
