on:
    workflow_dispatch:

name: ghcr-cleanup

permissions: {}
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Delete untagged images
              uses: actions/github-script@v7
              with:
                  github-token: ${{ secrets.GH_TOKEN }}
                  script: |
                      const response = await github.request("GET /${{ env.OWNER }}/packages/container/${{ env.PACKAGE_NAME }}/versions",
                        { per_page: ${{ env.PER_PAGE }}
                      });
                      for(version of response.data) {
                          if (version.metadata.container.tags.length == 0) {
                              try {
                                  console.log("delete " + version.id)
                                  const deleteResponse = await github.request("DELETE /${{ env.OWNER }}/packages/container/${{ env.PACKAGE_NAME }}/versions/" + version.id, { });
                                  console.log("status " + deleteResponse.status)
                              } catch (e) {
                                  console.log("failed")
                              }
                          }
                      }
              env:
                  OWNER: user
                  PACKAGE_NAME: zigbee2mqtt
                  PER_PAGE: 2000
