name: Update dependencies
on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 * * 0"

permissions:
  contents: read

jobs:
  update_deps:
    permissions:
      contents: write  # for peter-evans/create-pull-request to create branch
      pull-requests: write  # for peter-evans/create-pull-request to create a PR
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        ref: dev
        ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - run: npx npm-check-updates -u -x connect-gzip-static # connect-gzip-static only supports node 16
    - run: npm install
    - uses: peter-evans/create-pull-request@v4
      with:
        commit-message: Update dependencies
        branch: "update_deps"
        title: Update dependencies
