name: Update dependencies
on:
  workflow_dispatch:
  schedule:
  - cron: "0 0 * * 0"

jobs:
  update_deps:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        ref: dev
        ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - run: rm -rf npm-shrinkwrap.json
    - run: npx npm-check-updates -u
    - run: npm install && npm shrinkwrap --dev
    - uses: peter-evans/create-pull-request@v3
      with:
        commit-message: Update dependencies
        branch: "update_deps"
        title: Update dependencies
