name: Update dependencies
on:
    workflow_dispatch:
    schedule:
        - cron: '0 0 * * 0'

permissions:
    contents: read

jobs:
    update_deps:
        permissions:
            contents: write # for peter-evans/create-pull-request to create branch
            pull-requests: write # for peter-evans/create-pull-request to create a PR
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  ref: dev
                  token: ${{ secrets.GH_TOKEN }}
            - uses: pnpm/action-setup@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: pnpm
            - run: |
                  pnpm up --latest
            - uses: peter-evans/create-pull-request@v7
              with:
                  commit-message: 'fix(ignore): update dependencies'
                  branch: 'deps/all'
                  title: 'fix(ignore): update dependencies'
                  token: ${{ secrets.GH_TOKEN }}
